<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Devoxx 2013</title>
        <%- partial('../includes/global_imports') %>
    </head>

    <body>
        <%- body %>
    </body>
</html>