<% layout('layout/main') -%>

<link rel="stylesheet" href="/lib/qunit/qunit.css"/>
<script src="/lib/qunit/qunit.js"></script>

<script src="/javascript/qunit/plugin.js"></script>
<script src="/javascript/qunit/tests.js"></script>

<div>
    <div id="qunit"></div>
    <div id="qunit-fixture">test markup</div>
</div>